<%= render "/error_overlay" %>

<div class="full-page-response">
    <p class="thank-you-message">
      <% if @new_contribution && @new_contribution.category == "sentence" %>
        YOU'RE A VERITABLE HEMINGWAY.
      <% elsif @new_contribution && @new_contribution.category == "picture" %>
        THAT WAS AN IMMACULATE DRAWING.
      <% else %>
        WELCOME TO THE WORLD'S BIGGEST GAME OF TELEPHONE EVER.
      <% end %>
      <% if @new_contribution %>
        <br />NOW:
      <% end %>
    </p>
    <% if @new_contribution %>
      <p class="next-steps">
          <ol  class="next-steps-list">
              <li>Ask a friend to
                <% if @new_contribution.category == "sentence" %>
                  draw your sentence.
                <% else %>
                  describe your drawing.
                <% end %>
                  <ul class="next-steps-share">
                      <li id="js-share-top"><a href="/?parent_id=<%= @new_contribution.id %>" class="js-copy-to-clip share-copy">copy link</a></li>
                      <li><a href="mailto:?Subject=you%20should%20add%20to%20this%20giant%20game%20of%20online%20telephone.%20&Body=i%20added%20to%20it%2C%20you%20should%20too%3A%0A%0Ahttp://<%= ENV['HOST'] %>/?parent_id=<%= @new_contribution.id %>" target="" class="share-email">email</a></li>
                      <li><a href="https://www.facebook.com/sharer/sharer.php?p[url]=http%3A%2F%2F<%= ENV['HOST'] %>/?parent_id=<%= @new_contribution.id %>" target="_blank">fb</a></li>
                      <li><a href="https://twitter.com/intent/tweet?text=you+should+add+to+this+giant+game+of+telephone%2C+i+just+did%3A+http%3A%2F%2F<%= ENV['HOST'] %>/?parent_id=<%= @new_contribution.id %>&source=clicktotweet" target="_blank">tw</a></li>
                  </ul>
              </li>
              <% if @player_is_author && @no_emailer_added %>
                <li>Get notified when someone responds to your masterpiece:
                    <form class="contribution-email" data-id="<%= @new_contribution.id %>">
                        <input type="email" placeholder="your email" />
                        <input type="submit"
                          class="button-green button inherit-font"
                          value="notify me"
                        >
                        <p class="caption">(you can unsubscribe whenever, and we won't spam you)</p>
                    </form>
                </li>
            <% end %>
            <li>
              <a href="/">Play again!</a>
            </li>
          </ol>
      </p>
    <% end %>

    <div class="scroll-prompt">
      <% if @new_contribution %>
        Here's the chain you just added to:
      <% else %>
        Here's the game so far:
      <% end %>
    </div>
</div>
<div class="cta-share hidden">
    <p class="cta-sentence">Share this to keep it going:</p>
    <ul class="cta-actions">
        <li><a href="/" class="js-copy-to-clip share-copy">copy link</a></li>
        <li><a href="mailto:?Subject=you%20should%20add%20to%20this%20giant%20game%20of%20online%20telephone.%20&Body=i%20added%20to%20it%2C%20you%20should%20too%3A%0A%0A<%= ENV["HOST"] %>" target="" class="share-email">email</a></li>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F<%= ENV['HOST'] %>" target="_blank">fb</a></li>
        <li><a href="https://twitter.com/intent/tweet?text=you+should+add+to+this+giant+game+of+telephone%2C+i+just+did%3A+http%3A%2F%2F<%= ENV['HOST'] %>&source=clicktotweet" target="_blank">tw</a></li>
    </ul>
    <div class="contact-thankyou">
        <%= mail_to "thetelephoneoperators@gmail.com", "Something wrong?", subject: "Something's wrong." %>
    </div>
</div>
<div id="js-init-thankyou" class="wrapper-thin-container">
    <div class="js-node-sack wrapper-thin"></div>
    <div class="submission-loading">
        <%= render 'shared/loading' %>
    </div>
</div>

<script id="bootstrapped-thread-json" type="application/json">
  <%= @thread.to_json.html_safe %>
</script>

<script id="bootstrapped-flags-json" type="application/json">
  <%= @flagged_contributions.to_json.html_safe %>
</script>
