<script id="bootstrapped-thread-json" type="application/json">
<%= @thread.to_json.html_safe %>
</script>

<%= render "/error_overlay" %>

<h2 class="thank-you-message">You just became part of the world's biggest game of telephone ever.</h2>
<div class="cta-share">
    <h3>Make it bigger:</h3>
    <a href="">fb</a>
    <a href="">tw</a>
    <a href="" class="share-email">email</a>
    <a href="" class="share-copy">copy link</a>
</div>
<div id="js-init-thankyou" class="wrapper-thin-container">
    <div class="js-node-sack wrapper-thin">
        <figure class="holder-main js-holder" id="js-blank-sentence" data-rank>
            <div class="holder-sentence">
                <p class="saved-sentence"></p>
                <%= render "conversations/node_actions" %>
            </div>
            <%= render "conversations/node_more" %>
        </figure>

        <figure class="holder-main js-holder" id="js-blank-picture" data-rank>
            <div class="holder-picture">
                <img class="saved-picture" />
                <%= render "conversations/node_actions" %>
            </div>
            <%= render "conversations/node_more" %>
        </figure>
    </div>
</div>