<div class="wrapper">
  	<%= render "#{@contribution.category}_prompt" %>
	<%= render "#{@contribution.category}_form" %>
	<%= render "s3_form", locals: { contribution: @contribution, policy_document: @policy_document } %>
	<%= render "server_form" %>
</div>

<% if @contribution.parent %>
  <script id="prompt-url" type="text/plain">
    <%= s3_prefix + @contribution.parent.s3_id %>
  </script>
<% end %>

<div class="wrapper">
	<h2>Putting this here for now until we have basic /thankyou routing in place</h2>
	<div class="wrapper-saved">
		<!-- TODO add s3id to id of holder -->
		<div class="holder-sentence" id="TODO">
			<span class="node-number">
				12
			</span>
			<p class="saved-sentence">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, veritatis, vel fugiat sunt libero quidem iste nisi qui minima omnis laborum nulla sed fugit facilis praesentium? Nesciunt, nostrum praesentium asperiores?</p>
		</div>

		<!-- TODO Add parent and child to alt text -->
		<div class="holder-drawing" id="TODO">
			<span class="node-number">
				11
			</span>
			<img src="http://placehold.it/500x500/red" class="saved-drawing" alt="A babboon holding a child // it's gotta be a rapist.">
		</div>
		<!-- TODO add s3id to id of holder -->
		<div class="holder-sentence" id="TODO">
			<span class="node-number">
				10
			</span>
			<p class="saved-sentence">It's gotta be a rapissss-t.</p>
		</div>

		<!-- TODO Add parent and child to alt text -->
		<div class="holder-drawing" id="TODO">
			<span class="node-number">
				9
			</span>
			<img src="http://placehold.it/500x500/red" class="saved-drawing" alt="A babboon holding a child // it's gotta be a rapist.">
		</div>

		<a href="" class="holder-sentence show-start">Go to the beginning of the chain</a>
	</div>

</div>