<div id="js-init-submit" class="wrapper">
  <%= render "/error_overlay" %>
  	<%= render "#{@contribution.category}_prompt",
      locals: { parent_blob: @parent_blob } %>
  	<%= render "#{@contribution.category}_form" %>
  	<%= render "server_form" %>
</div>
<div class="contact-submit">
	<%= mail_to "thetelephoneoperators@gmail.com", "something wrong?", subject: "something's wrong." %>
	<a class="js-about-show about-toggle">what is this?</a>
</div>