<div id="js-init-submit" class="wrapper">
  <%= render "/error_overlay" %>
  	<%= render "#{@contribution.category}_prompt",
      locals: { parent_blob: @parent_blob } %>
  	<%= render "#{@contribution.category}_form" %>
  	<%= render "server_form" %>
</div>
<div class="contact-submit">
	<%= mail_to "willthefirst@gmail.com", "Something wrong?", subject: "Something's wrong." %>
</div>
