<figure id="<%= node.id %>" data-rank="<%= node.rank %>"
  class="holder-main js-holder
  <% if ( node.flags.length > 2 || isFlaggedByPlayer ) { %>
    flagged
  <% } %>
  "
>

  <div class="holder-<%= node.category %>">
    <%= blobField %>
    <div class="flag-overlay">
        <p>This might be PG-13.</p>
        <button class="js-reveal-flagged button button-show-flagged">Click to show</button>
    </div>
  </div>

  <figcaption class="node-meta">
  	<button class="node-meta-toggle js-meta-toggle">more...</button>
  	<ul class="meta-details">
  		<li>
        <a class="node-link" href="/thank-you?thread_id=<%= node.thread_id %>#<%= node.id %>">
        <span class="node-rank">#<%= node.rank %></span></a>
      </li>
  		<li>
        <span class="node-signature">
          <%= signatureField %>
    		</span>
      </li>
  		<li>
        <span class="node-date">
    		  <% date %>
    		</span>
      </li>
  		<li>
        <span class="node-region">
          <%= node.author.location %>
        </span>
      </li>
  		<li>
        <a class="node-share js-copy-to-clip" target="_new" href="/?parent_id=<%= node.id %>">
          share this
        </a>
      </li>
  		<li>
        <span class="node-flag">
    		  <%= flagField %>
        </span>
      </li>
  	</ul>
  </figcaption>

</figure>
