<!DOCTYPE html>
<html>
<head>
  <title>WebTelephone</title>
  <%= favicon_link_tag '/favicon.png' %>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta property="og:title" content="The World's Biggest Game Of Telephone Ever" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.theworldsbiggestgameoftelephoneever.com" />
  <meta property="og:description" content="The game of telephone that Alexandre Graham Bell wished would never come to pass." />
  <meta property="og:image" content="http://upload.wikimedia.org/wikipedia/commons/f/f4/Actor_portraying_Alexander_Graham_Bell_in_an_AT%26T_promotional_film_(1926).jpg" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render "layouts/analytics" %>
</head>
<body>

<%= yield %>

<%= render "shared/tips" %>

</body>
</html>
